/* ==========================================================================
   Responsive offset utilities
   ========================================================================== */

/**
 * Offset utilities with responsive capability
 *
 * See original utilities for more info.
 */

/* Variables
   ========================================================================== */

/**
 * Bits.sass utilities namespace
 */

$bits-utils-ns: 'bits-' !default;

/**
 * List of column variations.
 */

$bits-responsive-offset-columns: (2 3 4 5 6 8 10 12) !default;

/* Main mixin
   ========================================================================== */

/**
 * Mixin encapsulating a version of display utils at a certain breakpoint
 */

/**
 * 1. Eg. 'bits-v4-'.
 */

@mixin bits-offset-responsive($breakpoint) {
  $prefix: unquote("#{$bits-utils-ns}#{$breakpoint}-"); /* 1 */

  $bits-offset-values-unique: ();

  @each $columns in $bits-responsive-offset-columns {
    @for $position from 1 through $columns - 1 {
      $value: percentage(1 / ($columns / $position));

      @if not index($bits-offset-values-unique, $value) {
        $bits-offset-values-unique: append(
            $bits-offset-values-unique,
            $value
        )
      }
    }
  }

  @each $value in $bits-offset-values-unique {
    $selectors: ();

    @each $columns in $bits-responsive-offset-columns {
      @for $position from 1 through $columns - 1 {
        $innerValue: percentage(1 / ($columns / $position));

        @if $innerValue == $value {
          $selectors: $selectors, unquote(".#{$prefix}u-before#{$position}of#{$columns}");
        }
      }
    }

    @if length($selectors) > 0 {
      #{$selectors} {
        margin-left: $value !important;
      }
    }
  }

  @each $value in $bits-offset-values-unique {
    $selectors: ();

    @each $columns in $bits-responsive-offset-columns {
      @for $position from 1 through $columns - 1 {
        $innerValue: percentage(1 / ($columns / $position));

        @if $innerValue == $value {
          $selectors: $selectors, unquote(".#{$prefix}u-after#{$position}of#{$columns}");
        }
      }
    }

    @if length($selectors) > 0 {
      #{$selectors} {
        margin-right: $value !important;
      }
    }
  }
}